body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.carousels {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-slide {
    display: none;
    flex-direction: column;
    align-items: center;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-description {
    background-color:white;
    padding: 20px;
    text-align: center;
}

.carousel-description h2 {
    margin: 10px 0;
}

.button {
    background-color:#FEA116;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color:green;
}
.toggle-description:hover{
    background-color:green;
}

.toggle-description {
    
    background-color:#FEA116;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-content {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}